@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme specific colors */
  --background-primary: #0d0d0d;
  --background-secondary: #171717;

  --border-primary: #262626;

  --text-primary: #ffffff;
  --text-secondary: rgba(128, 128, 128, 0.7);
  --text-tertiary: rgba(204, 204, 204, 0.8);

  --button-primary: rgba(42, 40, 40, 1);

  /* Shared styles for both themes */
  --red-primary: #f04949cf;
  --red-secondary: #e14459;

  --gold-primary: #D4AF37;

  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #312d46;
    /* background-image: linear-gradient(#023C3F,#F593FE); */
    border-radius: 0.5rem;
  }
}
